.dropDownContainer {
  display: flex;
  height: 100px; /* Full viewport height to center vertically */
  margin-right: 50px; /* Space after the right margin */
  padding-top: 20px;
}

.dropDown {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
}

.dropDownText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

