.textAreaContainer {
  display: flex;
  height: 80px;
  width: 80%; /* Adjust width as needed */ 
  background: #ffffff;
  box-shadow:
    0px 8px 16px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.textArea {
  width: 100%;  
  margin: 15px 12px; /* Combined margin-top, margin-bottom, margin-left, and margin-right */
}