.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputRoot {
  flex: 1;
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 5px;
}

.inputPanelContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px;
  gap: 8px;
  background: #ffffff;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  flex: auto;
  order: 0;
  align-self: stretch;
  flex-grow: 0.3;
  max-width: 30%;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

.inputPanelHeaderContainer {
  width: 100%;
}

.inputPanelHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputPanelTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #323130;
  margin-top: 12px;
  margin-bottom: 12px;
}

.inputPanelTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}
